<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <title>Document</title>
</head>
<body>
<form>
<div class="card mt-2 container justify-content-center w-25">
  <div class="card-body">
    <h5 class="card-title">¿Seguro que desea Eliminar a este usuarrio?</h5>
    <p class="card-text">de ID: {{id}}</p>
    <a href="/users/{{id}}"><button type="button" class="btn btn-danger" >Eliminar Usuario</button></a>
    <a href="/"><button type="button" class="btn btn-primary" >Volver</button></a>
  </div>
</div>
</form>
</body>
</html>